.main_header {
  position: relative;
  width: 100%;
  padding: 12px 0;
}

.top_header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_header {
  width: 200px;
  grid-column: span 4;
}

.buttons_header {
  grid-column: span 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons_header button:first-child {
  margin-right: 8px;
}

.humburger {
  display: none;
}

.humburger svg {
  fill: #b28959;
  width: 60px;
  height: 60px;
}

.lang_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav_header {
  background-color: #3d3128;
  border-top: 1px solid #ffc700;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav_header, .nav_footer {
  position: relative;
  margin-top: 16px;
  max-width: 100%;
  padding: 12px;
}

.nav_header ul, .nav_footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_header ul li, .nav_footer ul li {
  margin-left: 32px;
}

.nav_header ul li a, .nav_footer ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav_header ul li a:hover, .nav_footer ul li a:hover {
  color: #b28959;
}

.nav_header ul li:first-child, .nav_footer ul li:first-child {
  margin-left: 0;
}

footer {
  position: relative;
  margin: 60px 0;
}

footer hr {
  width: 100%;
  height: 1px;
  background-color: #b28959;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 8px #ffd600;
          box-shadow: 0 0 8px #ffd600;
}

.bottom_footer {
  margin-top: 30px;
  text-align: center;
  color: #fff;
}

.bottom_footer svg {
  fill: #b28959;
  width: 40px;
  height: 40px;
}

.bottom_footer svg:last-child {
  margin-left: 8px;
}

#buttonTop.show {
  visibility: visible;
}

#buttonTop {
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  left: 30px;
  border: 1px solid #ffc700;
  background-color: #3d3128;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer !important;
  -webkit-box-shadow: 0 0 8px #ffd600;
          box-shadow: 0 0 8px #ffd600;
}

#buttonTop:hover {
  background-color: #5c493a;
}

#buttonTop svg {
  stroke: #fff;
  width: 25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 25px;
}
