@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html,
body {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  background-image: url(../images/website-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
figure,
span {
  margin: 0;
  padding: 0;
}

article,
aside,
div,
footer,
header,
main,
nav,
section {
  display: block;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

::selection {
    background-color: #f7e7b4;
}

li{list-style: none;}

.container{
    margin: 0 auto;
    max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
img{
  max-width: 100%;
}
.page_row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.img_wrapper{
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main_slider{
  width: 100%;
  height: 100%;

  & figure{

    & figcaption{
      position: absolute;
      right: 100px;
      top: 0; 
      bottom: 0; 
      height: 100px;
      margin-top: auto; 
      margin-bottom: auto; 

      & button{
        padding: 0.5rem 3rem;
        font-size: 32px;
      }

      & h2{
        font-size: 36px;
        background: linear-gradient(155deg, rgba(251,232,77,1) 0%, rgba(237,164,56,1) 50%, rgba(251,232,77,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .slick-prev,
  .slick-next{
    width: 60px;
    z-index: 1;
    height: 60px;
    stroke: #dcb464;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;

    &:hover{
      stroke: #ffa920;
    }
  }
}
.slick-prev{ left: -60px;}
.slick-next{ right: -60px;}

.page_category{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 12px 0;
}
.col-item{
  padding: 12px 8px;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(131,113,97,1) 0%, rgba(61,50,40,1) 0%);
  font-size: 16px;
  margin-right: 8px;
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  text-shadow: rgb(255, 199, 0) 0px 0px 10px;
  transition: all .2s ease-in-out;

  &:last-child{
    margin-right: 0px;
  }
  &:hover{
    background: linear-gradient(180deg, rgba(131,113,97,1) 0%, rgba(61,50,40,1) 100%);

  }

  & svg{
    stroke: #fff;
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
    filter: drop-shadow(rgb(255, 199, 0) 0px 0px 10px);
  }
}

.vertical_container{
  position: relative;
  width: 100%;
}
.vertical_content{
  width: 100%;
  position: relative;
  margin: 16px 0;

  & h3{
    font-size: 21px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 8px #f0c145;
  }
}
.vertical_slider{
  position: relative;
  margin-top: 16px;
  overflow: hidden;
  border: 1px solid #b28959;
  border-radius: 5px;
  box-shadow: inset 0 0 4px #ffc700,0 0 4px #ffc700;
  height: 100%;
  background: linear-gradient(151deg, rgba(255, 206, 29, 0.241) 0%, rgba(247,247,247,0) 50%);
  padding: 8px 0;
  width: 100%;
}
.v_item{
  cursor: pointer;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: #fff;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(255, 239, 114, 0.136) !important;
  border-radius: 5px;
  width: 100% !important;
  transition: all .2s ease-in-out;

  &:hover{
    background-color: rgba(rgb(255, 224, 120), $alpha: .1);
  }

  & .img_wrapper{
    width: 30%;
    margin-right: 16px;
  }
}

.second_layout{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.games{
  order: 1;
  grid-column: span 3;
  border: 1px solid #b28959;
  height: fit-content;
  box-shadow: inset 0 0 4px #ffc700,0 0 4px #ffc700;
  border-radius: 4px;
  padding: 16px;
  background: linear-gradient(151deg, rgba(255, 206, 29, 0.241) 0%, rgba(247,247,247,0) 50%);

  & h1{color: #fff; font-size: 32px; font-weight: 500; margin: 16px 0;}
}
.games_row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.item_game{
  padding: 8px;
  transition: all .1s ease-in-out;
  transition-delay: .1s;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  
  & figure{
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    box-shadow: 0 0 8px #ffc700;
    border-radius: 4px;

    & figcaption{
      border-radius: 4px;
      opacity: 0;
      transition: all .2s ease-in-out;
      border: 1px solid #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.4);

      & button{
        width: 80%;
      }
    }
  }

  &:hover{
    background-color: #f79e1b;

    & figcaption{
      opacity: 1;
    }
  }
}
.aside{
  grid-column: span 1;
  order: 2;
  position: relative;
  top: 30px;

  & form{
    width: 100%;
    position: relative;
    display: flex;

    & input{
      width: 100%;
      display: block;
      font-size: 15px;
      font-weight: 500;
      min-height: 100%;
      padding: 6px 40px 7px 10px;
      border: 1px solid #090908;
      background-color: #271f19;
      line-height: 20px;
      color: #fff;
      outline: none;
    }

    & button{
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      background-color: transparent;
      border: none;
      outline: none;

      & svg{
        stroke: #fff;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.casino_amount{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;

  & p{
    font-size: 26px;
    color: #fff;
  }

  & div{
    color: #fff500;
    text-shadow: 0 0 8px #ffc700;
    font-size: 60px;
    font-weight: 700;
  }
}