.dd-select {
	width: 100%;
	border-radius: 2px;
	position: relative;
	cursor: pointer;
}
.dd-desc {
	width: 100%;
	display: block;
	overflow: hidden;
	font-weight: normal;
	line-height: 1.4em;
}
.dd-selected {
	overflow: hidden;
	display: flex;
    flex-direction: column;
    width: 100%;
	font-weight: bold;

    & img{
        width: 40px;
    }
}
.dd-pointer {
    bottom: -20px;
    position: absolute;
    transform: translate(50%, -50%);
    left: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(75, 62, 37);
}

.dd-options {
    top: 50px;
    width: 90px !important;
	border: solid 1px rgb(220, 180, 100);
	list-style: none;
	display: none;
	position: absolute;
	z-index: 2000;
	margin: 0;
	padding: 0;
	background: rgb(75, 62, 37);
	overflow: auto;
    border-radius: 4px;
    cursor: pointer;
}
.dd-option {
    width: 90px;
	display: flex;
    justify-content: center;
    align-items: center;
	text-decoration: none;
    overflow: hidden;
	color: #fff;
    font-size: 18px;
    font-weight: 500;
	cursor: pointer;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
    
    & img{
        width: 20px;
        margin-right: 10px;
    }
}
.dd-options li:last-child .dd-option {
	border-bottom: none;
}
.dd-option:hover {
	background: rgb(104, 85, 51);
}
.dd-selected-description-truncated {
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dd-option-selected {
    background: rgb(75, 62, 37);
}
.dd-option-image, .dd-selected-image {
	vertical-align: middle;
	float: left;
	margin-right: 5px;
	max-width: 64px;
}

.dd-container {
	position: relative;
    cursor: pointer;
}